
/* ---- reset ---- */

html {
  box-sizing: border-box;
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 0;
  color: white;
  background-color: rgba(180 , 180, 180, 0.9);
  text-align: center;
  height: 70px;
}

#site-header ul{
  align-content: center;
  position: relative;
  padding: 0 0 0 0;
}

#site-header li{
  padding: 5px 0 5px 0;
}

/* header {
  background-image: url('');
} */

a {
  font-size: 20px;
  color: #111;
  text-decoration: none;
}

#site-footer {
  color: black;
  padding: 10px 0;
  background: rgba(181, 180, 180, 0.9);
  position: relative;
}

#site-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin: 0 20px;
  align-content: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

button {
  width: 80%;
  height: 200px;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff;
  margin: 15px auto;
  font-size: 25px;
  padding: 0 30px 0 30px;
}

.button-alt {
  color: blue;
  background-color: #fff;
}