
/* ---- reset ---- */

html {
  box-sizing: border-box;
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 0;
  color: white;
  background-color: rgba(180 , 180, 180, 0.9);
  text-align: center;
  height: 70px;
}

#site-header ul{
  align-content: center;
  position: relative;
  padding: 0 0 0 0;
}

#site-header li{
  padding: 5px 0 5px 0;
}

/* header {
  background-image: url('');
} */

a {
  font-size: 20px;
  color: #111;
  text-decoration: none;
}

#site-footer {
  color: black;
  padding: 10px 0;
  background: rgba(181, 180, 180, 0.9);
  position: relative;
}

#site-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.container {
  margin: 0 20px;
  align-content: center;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.screenButton {
  width: 80%;
  height: 200px;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff;
  margin: 15px auto;
  font-size: 25px;
  padding: 0 30px 0 30px;
}
.search {
  width:70%;
  height: 40px;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff;
  margin: 15px auto;
  font-size: 25px;
  padding: 3px 30px auto;
}

#Currency {
  width: 50%;
  height: 35px;
  background-color: rgba(180 , 180, 180, 0.9);
  color: #fff;
  border: 1px solid #fff;
  margin: 15px auto;
  font-size: 15px;
  padding: 0 20px 0 20px;
  text-align: center;
}

select {
  margin: 2em;
  padding: .5em;
  border: 2px solid #6bb99c;
  width: 80%;
  border-radius: 4px;
}

.orderedDiv {
  margin: 10px 30px auto;
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 10px;
  background-color: rgba(133, 133, 133, 0.55);
}

/* ---- Table ---- */
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  padding: 8px;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #ddd;
}